.hidden{
    display: none;
}
h1{
    font-size: 5vw;
    color: rgb(255, 255, 255);
}

h2{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

p{
    font-size: 1em;
    padding: 0.5em;
    color: rgb(255, 255, 255);
}

.mainhead{
    margin-bottom: .5em;
}