.footer{
    display: block;
    background-color: rgb(255, 255, 255);
    margin-top: 1.5em;
}

.foottext{
    padding: 2em;
}
.foottext p{
    width: 100%;
   color: rgb(0, 0, 0);
   text-align: center;
}